<div class="container-fluid main">
    <div class="row">
        <div class="col title">
         <h5>CREATED BY KARIMA CREATIVE</h5>
         <P>KARIMACREATIVE.COM</P>
        </div>
        </div>
<div class="mainpage">
        <div class="row">
            <div class="col ">
               
                    <header class="header">
                        SIGN UP FOR A VIP DAY ->
                        <button>X</button>
                    </header>
        </div>
        </div>
        <div class="row">
            <div class="col-2">
                <div class="entrytitle">
                    <h1>MALIQUEA 
                     <br> STARNES</h1> 
                      
                 </div>
            </div>
   
        <div class="col-1 offset-3">
        
        <a routerLink="">HOME</a>   
        </div>
        
        <div class="col-1">
        
            <a routerLink="">ABOUT</a>  
            </div>
            
        <div class="col-1 ">
        
            <a routerLink="">OFFERINGS</a>   
            </div>

            <div class="col-1 ">
        
                <a routerLink="">PODCAST</a>   
                </div>
                <div class="col-1 ">
        
                    <a routerLink="">CONTACT</a>   
                    </div>
                    <div class="col-1">
        
                        <a routerLink="">SUBSCRIBE</a>   
                        </div>
                        <div class="col-1">
        
                            <a routerLink="">BLOG</a>   
                            </div>

       </div>
        <div class=" row footer">
            
                <div class="col">
                    <h3>nlp</h3>
                    <p>CERTIFIED <br>
                    PRACTITIONER</p>
                </div>
                <div class="col">
                    <h3>100+</h3>
                    <p>WEDDINGS AND EVENTS <br> PLANNED 
                  </p>
                </div>
                <div class="col">
                    <h3>lw2</h3>
                    <p>ON THE ENNLAGEAN<br>
                    IAXA THE IMPROVER</p>
                </div>
                <div class="col">
                    <h3>2</h3>
                    <p>NUMBER OF WEDDING<br>
                    VENUE ESTABLISHED</p>
                </div>
        </div>    
    
        
        <div class="row page-2">
            <div class="col offset-1" style="margin-top: 70px;">
             <b>ABOUT</b> <br><br>
             <b style="color: brown;">Hey, I'm Maliques Starnes! </b><br>
             <br>
            INTENTIONAL BUSINESS STEATEGIST,<br>
            CERTIFIED LIFE A SUCCESS COACH, <br>
            CERTIFIED WEDDING PLANNER,PODCAST <br>
            HOST AND ELYONCT FANGIKL OH AND <br>
            <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
             Voluptatum quod exercitationem blanditiis repudiandae
              ad neque molestias sit corporis, eveniet nihil.
               Consequatur unde voluptatibus iure eos!
            </div>
            <div class="col offset-5">
             <img id="image1" src="../assets/image1.jpeg" alt="">
            </div>
        </div>
        <div class="row">
           <b style="color: brown; text-align: center; font-weight: bold; font-size:40px; margin:20px;">Choose Your Path To Sustainable Success</b>
            <div class="col-3 offset-1" >
               <img class="image" src="../assets/image2.png" alt="">
               <h1>Podcast</h1>
               <p>Tune into the Musings with Maliquea 
                show to soak up "all" the tips, tricks and 
                strategies I share to help you carve out 
                your unique path to sustainable, restful 
                and joy-filled success in your business...
                And finally give yourself permission to 
                stip saying "I should..." anymore.</p>
                    <button class="btn btn-secondary">Listen</button>
            </div>
            
            <div class="col-3 offset-1"  >
                <img class="image" src="../assets/image3.png" alt="">
             <h1>Coaching</h1>
                <p> I offer 1:1 coaching package to help 
                    creative service-based entrepreneaurs 
                    refine their processes, reconfigure their 
                    mindset and let go of what's no longer 
                    serving them. Oh, and we have FUN, 
                    too"
                    </p>
                   

                     <button class="btn btn-secondary">Learn</button>
            </div>
            

            <div class="col-3 offset-1"  >
                <img class="image" src="../assets/image4.png" alt="">
                <h1>Speaking</h1>
                <p>I may be a Virgo, but I'm an extrovert 
                    when I'm talkin' about stuff I love. Book 
                    me to speak to your team, guest on your 
                    podcast or step onto your virtual stage
                    to share all I know about intentional
                    business strategy and streamlining your 
                    processes.
                    </p>
                     <button class="btn btn-secondary">Enquire</button>
            </div>
            
         
        </div>

        <div class="row" style="margin-top: 30px;">
            <div class="col">
              <img id="image5" src="../assets/image5.jpeg" alt="">
            </div>
            <div class="col" style="margin-top: 50px;margin-left: 100px;">
                <b>AS A CERTIFIED LIFE AND SUCCESS COACH,</b><br>
                
                <h3 style="color: brown;">From organizing hundreds of <br>
                    weddings to working with <br>
                    creatives one-on-one... A love <br>
                    story.</h3>
                
                <p>On the outside, you could have said I had it all for mist of my 
                    career... <br><br>
                    Running a successful wedding and event planning company for <br>
                    over five years, pulling together 100+ events and even owning <br>
                    my own wedding venur location.... <br><br>
                    But it didn't happen by accident.</p>
                
            </div>
        </div>
        
</div>
        
    </div>